# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VSCode
.vscode/

# Environment
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Server logs
logs/
*.log

# Redis dump
*.rdb

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo

# Gunicorn PID
*.pid
